{% extends "layout.html" %} {% block title %}Ügyfelek - Jogügyleti
Nyilvántartó{% endblock %} {% block content %}
<h1 class="mb-4">Ügyfelek</h1>

{% if clients is not defined %}
<p>Betöltés...</p>
{% elif clients|length == 0 %}
<p>Nincs még rögzített ügyfél.</p>
{% else %}
<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead class="table-light">
      <tr>
        <th class="sortable" data-type="number">ID</th>
        <th class="sortable" data-type="string">Kód</th>
        <th class="sortable" data-type="string">Név</th>
        <th class="sortable" data-type="string">Adószám</th>
        <th class="sortable" data-type="string">Típus</th>
        <th class="sortable" data-type="date">Születési dátum</th>
        <th class="sortable" data-type="string">Cím / Székhely</th>
      </tr>
    </thead>
    <tbody>
      {% for client in clients %}
      <tr>
        <td>{{ client.id }}</td>
        <td>{{ client.client_code }}</td>
        <td>{{ client.name }}</td>
        <td>{{ client.tax_number or '' }}</td>
        <td>
          {% if client.client_type == 'PERSON' %} Személy {% elif
          client.client_type == 'COMPANY' %} Cég {% else %} {{
          client.client_type }} {% endif %}
        </td>
        <td>
          {% if client.client_type == 'PERSON' %} {{ client.birth_date or '' }}
          {% else %} - {% endif %}
        </td>
        <td>
          {% if client.client_type == 'PERSON' %} {{ client.address or '' }} {%
          elif client.client_type == 'COMPANY' %} {{ client.headquarters or ''
          }} {% else %} - {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %} {% endblock %}
