{% extends "layout.html" %} {% block title %}Üdvözöljük{% endblock %} {% block
content %}
<div class="text-center mt-5">
  <p class="lead" style="max-width: 700px; margin: 0 auto">
    Ez az alkalmazás segít a jogügyek, ügyfelek és kapcsolódó munkák
    nyilvántartásában. Könnyedén hozzáadhat új ügyeket, rögzítheti a végzett
    munkákat, kezelheti ügyfeleit, és áttekintheti a naptárban a folyamatban
    lévő eseményeket.
  </p>
  <hr class="my-4" style="border-color: rgba(255, 255, 255, 0.3)" />
  <p>
    Használja a navigációs sávot a jobb felső menüpontok segítségével a
    különböző funkciók eléréséhez.
  </p>
</div>
{% endblock %}
